$backgroundColor:  #dcbb9a; 
$contentBackground : #ffffff ;
$headingColor : #893c00;
$tableHeading : #e0e0e0;
$tableColor : #ffffff;
$linkColor : #3d70a1;
$formColor: #808080;
$textColor: #000000 ;
$sizeOfHeadings: none;
$buttonColor: $linkColor;

//brief
$briefFloat: left;
$briefPadding: 20px;
$briefMargin: 0 20px 20px 0;
$briefColor: #fadcba;
$briefWidth: 384px; 