$backgroundColor:  rgba(198, 238, 252, 0.53); 
$contentBackground : #3b3b3b;
$headingColor : #fccd10;
$tableHeading : #94a34e;
$tableColor : #677d01;
$linkColor : #f5c70f;
$formColor: $linkColor;
$textColor: white;
$sizeOfHeadings: uppercase;
$buttonColor: $linkColor;

//brief
$briefFloat: none;
$briefPadding:22px 0 22px 20px;
$briefMargin: 0 0 42px 0;
$briefColor: #fff178;
$briefWidth: calc(100% - 22px);